@import "../style/font-facex.css";
@import "tailwindcss";

:root {
  --tw-font-sans: 'SF Pro Display', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif; 
  /* --background: #ffffff; */
  /* --foreground: #171717; */
  /* // SF Pro Display , Bricolage Grotesque*/
}

@theme inline {
  --color-background: var(--background);  
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
} 

html, body {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

body {
  color: var(--foreground);
  font-family: var(--tw-font-sans);
} 

canvas {
  touch-action: none;
}


::-webkit-scrollbar {
  display: none;
}

